{% extends 'base.html' %}
{% load social_share %}
{% load static %}

{% block root_content %}
    <div class="container">
        <div class="entry-header">
            <div class="mb-5">
                <h1 class="entry-title m_b_2rem">
                    {% block header %} {% endblock %}
                </h1>
                <div class="d-flex">
                    <div class="entry-meta flex-grow-1">
                        <a class="author-avatar mr-2" href="{% url 'users-profile' article.author %}">
                            <img class="avatar"
                                 src="{% if article.author.profile.avatar %} {{ article.author.profile.avatar.url }} {% else %} {% static 'images/default-avatar.jpg' %} {% endif %}"
                                 alt="img"></a>
                        <a href="{% url 'users-profile' article.author %}">{{ article.author }}</a><br>
                        <span>{{ article.date }}</span>
                        <span class="middotDivider"></span>
                        <span class="readingTime" title="{{ article.time_of_read }} read">{{ article.time_of_read }} read</span>
                        <span class="svgIcon svgIcon--star">
                    <svg class="svgIcon-use" width="15" height="15">
                        <path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z"></path>
                    </svg>
                </span></div>
                    {% if user.username|lower == article.author.username|lower %}
                        <div class="d-flex">
                            <form action="{% url 'articles:edit' article.slug %}" class="mr-1">
                                <button type="submit" class="btn btn-info">Edit</button>
                            </form>
                            <form method="get" action="{% url 'articles:delete' article.slug %}" class="ml-1">
                                <button type="button" class="btn btn-danger text" data-toggle="modal"
                                        data-target="#deleteModal">
                                    Delete
                                </button>
                                <div class="modal" id="deleteModal">
                                    <div class="modal-dialog modal-dialog-centered modal-sm ">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure to delete the article?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-danger">
                                                    Yes
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    No
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div> <!--end single header-->
        <!--    <figure class="image zoom mb-5">-->
        <!--        <img src="http://via.placeholder.com/1240x700" alt="post-title" />-->
        <!--    </figure>-->

        <article class="entry-wraper mb-2">
            <div class="entry-left-col">
                <div class="social-sticky">
                    <span>{% post_to_facebook request.build_absolute_uri '<i class="icon-facebook"></i></a>'|safe %}</span>
                    <span>{% post_to_twitter article.title request.build_absolute_uri '<i class="icon-twitter"></i>'|safe %}</span>
                    <span>{% post_to_telegram article.title request.build_absolute_uri '<i class="icon-telegram"></i>'|safe %}</span>
                    <a href="javascript:void(0);" class="like-icon"><i class="icon-heart{% if liked %}-fill{% endif %}"
                                                                       onclick="liking(event)"></i></a>
                </div>
            </div>
            <div class="entry-main-content mb-1">
                {% block content %}
                {% endblock %}
            </div>
            <div class="">
                {% block bottom %}
                {% endblock %}
            </div>

            {% include '_partials/article_author.html' %}
        </article> <!--entry-content-->

        <!--Begin post related-->
        {# include '_partials/related.html' #}
        <!--End post related-->
        <div class="entry-wraper">
            <!--Begin Comment-->
            <h4 class="font-weight-bold">Comments {{ comments_count }}</h4>
            {% if comments_count > 0 %}

                {% for comment in article.get_comments %}
                    {% if comment.status|lower == 'active' or comment.comment_set.all|length != 0 %}
                        {% include '_partials/_comment_item.html' %}
                        <div class="pl-4">
                            {% for comment in comment.comment_set.all %}
                                {% if comment.status|lower == 'active' %}
                                    {% include '_partials/_comment_item.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="text-center my-4 font-italic large">Write your first commit</div>
            {% endif %}

        </div>

        {% include '_partials/comment.html' %}
        <!--End Comment-->
    </div> <!--container-->
{% endblock %}

{% block jslibs %}
    <script>
        let heart = $(".icon-heart").length ? $(".icon-heart") : $(".icon-heart-fill")

        liking = async function (e) {
            e.preventDefault();
            await $.ajax({
                type: 'POST',
                url: '/articles/liking',
                data: {
                    article_id: {{ article.id }},
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: (data, status) => {
                    const liked = data['liked']
                    const count_of_likes = data['count_of_likes']
                    const count_of_likes_tag = $('#count_of_likes')
                    if (liked) {
                        heart.removeClass("icon-heart");
                        heart.removeClass('is_checked').addClass("icon-heart-fill").addClass("animate");
                    } else {
                        heart.removeClass("icon-heart-fill").removeClass("animate");
                        heart.removeClass('is_checked').addClass("icon-heart");
                    }
                    count_of_likes_tag.html(count_of_likes !== 0 ? 'x' + count_of_likes : '')

                },
                error: (xhr, status, error) => {
                    $('body').append(`
                        <span class="alert alert-danger alert-dismissible show alert-not-network" role="alert">
                        Bad network
                        <div type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                        </span>`);
                    setTimeout(() => {
                        $('.alert-not-network').remove();
                    }, 3000)
                }
            })
        }
        to_login = function () {
            window.location.href = '/accounts/login'
            return
        }

        if ($('.icon-heart-fill').length) {
            heart.addClass('is_checked')
        }

        function replying(id_loop, parent_loop_id = 0) {
            let id = $(`#comment-${id_loop} div.p-0 div.my-1`).attr('id')
            if (Number(parent_loop_id) !== 0) {
                id = $(`#comment-${parent_loop_id} div.p-0 div.my-1`).attr('id')
            }
            let reply = $(`#reply-comment-${id_loop}`)
            if (reply.is(':empty')) {
                reply.append(
                    `<form action="{% url 'articles:add-comment' article.id %}" method="post" class="comment-form"">
                    {% csrf_token %}
                    <p class="comment-form-comment">
                        <textarea name="content" cols="60" rows="2" required="" style="resize: vertical; min-height: 65px;"></textarea>
                    </p>
                    <p class="form-submit">
                        <input type="hidden" name="parent" value="${id}">
                        <input name="submit" type="submit" id="submit" class="btn-sm btn-success h-50 px-2 py-1"
                               value="Post Comment">
                        <input type="button" onclick="hideReply(${id_loop})" value="Cancel" class="btn-sm btn-outline-dark text-dark ml-3 h-50 px-2 py-1">
                    </p>
                </form>`
                );
            }
        }

        function Count() {
            {% if token_ex %}
                setTimeout(() => {
                    $.ajax({
                        type: 'GET',
                        url: '/articles/add_to_view',
                        data: {
                            'token_ex': "{{ token_ex }}",
                            'article_id': "{{ article.id }}"
                        },
                        success: (data, status) => {

                        },
                        error: (xhr, status, error) => {
                            console.log(status)
                        }
                    })
                }, 45000)
            {% endif %}
        }
        Count()

        function hideReply(id_loop) {
            $(`#reply-comment-${id_loop}`).empty()
        }

        async function addToFavourite(e) {
            e.preventDefault();
            await $.ajax({
                type: 'POST',
                url: '/articles/add_to_favourite',
                data: {
                    article_id: {{ article.id }},
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: (data, status) => {
                    if ($('.icon-bookmark-empty').length) {
                        $('.icon-bookmark-empty').addClass('icon-bookmark').removeClass('icon-bookmark-empty').addClass("animate");
                    } else if ($('.icon-bookmark'.length)) {
                        $('.icon-bookmark').addClass('icon-bookmark-empty').removeClass('icon-bookmark').removeClass("animate");
                    }
                },
                error: (xhr, status, error) => {
                    $('body').append(`
                        <span class="alert alert-danger alert-dismissible show alert-not-network" role="alert">
                        Bad network
                        <div type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                        </span>`);
                    setTimeout(() => {
                        $('.alert-not-network').remove();
                    }, 3000)
                }
            })
        }


        function copyToClipboard(text) {
            navigator.clipboard.writeText(text)
        }

        async function ReportToComment(event, comment_id) {
            event.preventDefault();
            const report_type = $(`#report_comment-${comment_id} input[name="report-to-comment"]:checked`).val();
            const report_comm = $(`#report_comment-${comment_id} textarea[name="comment_of_report"]`).val();

            await $.ajax({
                type: 'POST',
                url: '/articles/report-to-comment',
                data: {
                    report_type: report_type,
                    report_comm: report_comm,
                    comment_id: comment_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: (data, status) => {
                    $('body').append(`
                        <span class="alert alert-success alert-dismissible show alert-not-network" role="alert">
                        Your report is accepted
                        <div type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                        </span>`);
                    setTimeout(() => {
                        $('.alert-not-network').remove();
                    }, 3000)

                },
                error: (xhr, status, error) => {
                    $('body').append(`
                        <span class="alert alert-danger alert-dismissible show alert-not-network" role="alert">
                        Bad network
                        <div type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                        </span>`);
                    setTimeout(() => {
                        $('.alert-not-network').remove();
                    }, 3000)
                }
            })
        }

        async function ReportToArticle(event, article_id) {
            event.preventDefault();
            const report_type = $(`#report_article-${article_id} input[name="report-to-article"]:checked`).val();
            const report_comm = $(`#report_article-${article_id} textarea[name="comment_of_report"]`).val();

            await $.ajax({
                type: 'POST',
                url: '/articles/report-to-article',
                data: {
                    report_type: report_type,
                    report_comm: report_comm,
                    article_id: article_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: (data, status) => {
                    $('body').append(`
                        <span class="alert alert-success alert-dismissible show alert-not-network" role="alert">
                        Your report is accepted
                        <div type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                        </span>`);
                    setTimeout(() => {
                        $('.alert-not-network').remove();
                    }, 3000)

                },
                error: (xhr, status, error) => {
                    $('body').append(`
                        <span class="alert alert-danger alert-dismissible show alert-not-network" role="alert">
                        Bad network
                        <div type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                        </span>`);
                    setTimeout(() => {
                        $('.alert-not-network').remove();
                    }, 3000)
                }
            })
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
{% endblock %}
