<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blogger.com {% block title %} {% endblock %}</title>
    <!--favincon-->
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap, Font Awesome, Aminate, Owl Carausel, Normalize CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/owl.theme.default.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Material Design Bootstrap -->
    {#    <link href="/static/css/mdb.min.css" rel="stylesheet">#}

    <!-- Site CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/widgets.css" rel="stylesheet">
    <link href="/static/css/color-default.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    {#    <link rel="stylesheet" type="text/css" href="/static/css/media.css">#}
    {#    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">#}

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">


    <!-- Icons fonts-->
    <link href="/static/css/fontello.css" rel="stylesheet">
</head>
<body class="archive">
<div class="top-scroll-bar"></div>
<!--Mobile navigation-->
<div class="sticky-header fixed d-lg-none d-md-block">
    <div class="text-right">
        <div class="container mobile-menu-fixed pr-5">
            <h1 class="logo-small navbar-brand"><a href="index.html" class="logo">Merinda</a></h1>

            <a class="author-avatar" href="#"><img src="/static/images/author-avata-1.jpg" alt=""></a>

            <ul class="social-network heading navbar-nav d-lg-flex align-items-center">
                <li><a href="#"><i class="icon-facebook"></i></a></li>
            </ul>

            <a href="javascript:void(0)" class="menu-toggle-icon">
                <span class="lines"></span>
            </a>
        </div>
    </div>

    <div class="mobi-menu">
        <div class="mobi-menu__logo">
            <h1 class="logo navbar-brand"><a href="index.html" class="logo">Merinda</a></h1>
        </div>
        <form action="#" method="get" class="menu-search-form d-lg-flex">
            <input type="text" class="search_field" placeholder="Search..." value="" name="s">
        </form>
        <nav>
            <ul>
                <li class="current-menu-item"><a href="index.html">Home</a></li>
                <li class="menu-item-has-children"><a href="categories.html">Categories</a>
                    <ul class="sub-menu">
                        <li><a href="categories.html">Politics</a></li>
                        <li><a href="categories.html">Health</a></li>
                        <li><a href="categories.html">Design</a></li>
                    </ul>
                </li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="categories.html">Politics</a></li>
                <li><a href="categories.html">Health</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--Mobile navigation-->
<div id="wrapper">
    <header id="header" class="d-lg-block d-none">

        {% include '_partials/header.html' %}

        {% include '_partials/categories.html' %}

    </header>
    <main id="content">

        {% block root_content %}
        {% endblock %}

    </main>

    {% include '_partials/footer.html' %}

</div> <!--#wrapper-->

<a href="#" class="back-to-top heading"><i class="icon-left-open-big"></i><span class="d-lg-inline d-md-none">Top</span></a>

<!--Scripts-->
<script src="/static/js/jquery.min.js"></script>
{#<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="#}
{#        crossorigin="anonymous"></script>#}
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery-scrolltofixed-min.js"></script>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
<script src="/static/js/theia-sticky-sidebar.js"></script>
<!-- Bootstrap tooltips -->
<!-- MDB core JavaScript -->
{#<script type="text/javascript" src="/static/js/mdb.min.js"></script>#}
<script type="text/javascript" src="/static/js/jquery.lazy.min.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/scripts.js"></script>
{% block jslibs %}
{% endblock %}
</body>
</html>